$breakpoint-s: 575.98px
$breakpoint-m: 767.98px 
$breakpoint-l: 992.98px
$breakpoint-xl: 1279.98px


=from($min)
  @media screen and (min-width: $min)
      @content

=to($max)
  @media screen and (max-width: $max)
      @content

=between($min, $max)
  @media screen and (max-width: $max) and (min-width: $min)
    @content


=media-s
  +to($breakpoint-s)
    @content

=media-m
  +between($breakpoint-s, $breakpoint-m)
    @content

=media-x
  +between($breakpoint-m, $breakpoint-l)
    @content

=media-xl
  between($breakpoint-l, $breakpoint-xl)
    @content

=media-xxl
  from($breakpoint-xl)
    @content